<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog posts website</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
 <nav class="navbar">
    <h1>My Blog</h1>
    <a href="index.html">Home</a>
    <a href="create.html">Create post</a>
 </nav>
 <div class="blog-post1">
    <h2>Travelling places in Kerala</h2>
    <p>Kerala really is "God's Own Country"! With it's pristine beaches and rich culture and heritage. Munnar, with its lush green plantations , Kovalam having golden sands and serene waters.</p>
 </div>
    </body>
</html>