
body {
    font-family: helvetica, sans-serif;
    background-color: #fff0f7;
    margin: 0;
    padding: 0;
}


.navbar {
    font-family: lucida handwriting, monospace;
    background-color: #ff3e98;
    color: rgb(255, 255, 255);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: white;
    text-decoration: none;
   font-size: 50px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navbar a:hover {
    color: rgb(135, 211, 255);
}

.blog-container {
    font-family: lucida handwriting, monospace;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: #ff1d86;
    background-color: #ffcde4;
    border-radius: 8px;
}

.blog-post1 h2 {
    font-family: garamond,serif;
    margin: 0;
    color: #c8186b;
}

.blog-post1 p {
    font-family: lucida handwriting, monospace;
    margin: 0;
    color: #ff1d86;
}

.blog-post2 h2 {
    font-family: garamond,serif;
    margin: 0;
    color: #c8186b;
}

.blog-post2 p {
    font-family: lucida handwriting, monospace;
    margin: 0;
    color: #ff1d86;
}

.blog-post1 a {
    text-decoration: none;
    color: #007bff;
}

.blog-post a:hover {
    text-decoration: underline;
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    color: #001eff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffe734;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #ffe100;
}